@import "src/css/variables";

:host {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.editable-text-field-wrapper:hover {
  cursor: pointer;
}

.editable-text-field-wrapper {
  display: flex;
  align-items: center;

  .edit-mode-container {
    display: flex;
    justify-content: space-between;
  }

  .editable-text-field {
    outline-color: $color-onto-grey;
    border: 1px solid $color-onto-grey;
    padding: 0;
  }

  .save-btn, .cancel-btn {
    border: none;
    outline: none;
    margin-left: 6px;
  }

  .save-btn {
    color: white;
    background-color: $color-ontotext-orange;
  }

  .save-btn:hover {
    background-color: $color-ontotext-orange-dark;
  }

  .cancel-btn:hover, .save-btn:hover {
    cursor: pointer;
  }


  .cancel-btn:hover .cancel-btn-label, .save-btn:hover .save-btn-label {
    transform: scale(1.2);
    transition: transform .15s ease-out;
  }


  .preview-value {
    padding-top: 1px;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
