@import "src/css/variables";
@import 'src/css/common';
@import "src/css/icons";

:host {
  display: block;
}

.copy-link-dialog {

  .dialog {
    min-width: 40vw;
  }

  .copy-link-form {
    @include formField;
  }

  .copy-button {
    margin-right: 0 !important;
  }

  .cancel-button {
    margin-right: 10px;
  }
}
