@import 'src/css/variables';

.ontotext-dropdown {

  .ontotext-dropdown-button {
    font-size: 16px;
    font-weight: 400;
    padding: 5px 16px;
    line-height: 1.25;
    border: none;
    outline: none;
    color: $color-onto-white;
    background-color: $color-ontotext-orange;
  }

  .ontotext-dropdown-menu {
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 1000;
  }

  .ontotext-dropdown-menu-item {
    display: block;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    padding: .5em 1.2em;
    color: $color-onto-white;
    background-color: $color-ontotext-orange;
  }

  .ontotext-dropdown-menu-item:hover {
    text-decoration: none;
    background-color: $color-ontotext-orange-dark;
    color: #ffffff;
  }

  .ontotext-dropdown-icon:before {
    padding-right: 5px;
  }

  /* this is a caret down icon which in this dropdown button should appear after the text */
  .ri-arrow-down-s-line-after:after {
    content: "\ea78";
  }
  /* this is a caret up icon which in this dropdown button should appear after the text  */
  .ri-arrow-up-s-line-after:after {
    content: "\ea4e";
  }

  .ontotext-dropdown-button.ri-arrow-down-s-line:after, .ontotext-dropdown-button.ri-arrow-up-s-line:after {
    padding-left: 10px;
    color: $color-onto-grey;
  }

  .ontotext-dropdown-menu.closed {
    display: none;
  }

  .ontotext-dropdown-button:hover {
    cursor: pointer;
  }

  @media (max-width: 768px) {
    .ontotext-dropdown-button:after {
      padding-left: 0 !important;
    }
    .button-name {
      display: none;
    }
  }
}
