@import "src/css/variables";

.keyboard-shortcuts-dialog-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: -9px;
  margin-right: 1px;
  z-index: 1015;

  .keyboard-shortcuts-dialog-button {
    background-color: #f7f7f7;
    outline: none;
    border: 0.5px solid #EBEBEB;
    cursor: pointer;
    position: relative;
    z-index: 1015;
  }

  .dialog {
    min-width: 80vw;
    .dialog-footer {
      display: none;
    }
  }

  .keyboard-shortcut-description-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 10px;
  }

  .keyboard-shortcut-description-item-label {
    width: 50%;
    text-align: end;
    font-size: 14px;
  }

  .keyboard-shortcut-description-item-label span {
    color: #fff;
    background-color: #333;
    border-radius: 0.2rem;
    padding: 4px;
  }

  .keyboard-shortcut-description-item-description {
    width: 50%;
    font-size: 20px;
  }

  kbd {
    background-color: $background-color-onto-default;
  }
}

.keyboard-shortcuts-dialog-wrapper.resizeable-on {
  margin-top: -29px;
}

.yasqe-fullscreen .keyboard-shortcuts-dialog-wrapper .keyboard-shortcuts-dialog-button {
  position: fixed;
  bottom: 0;
  right: 0;
}
