@import 'src/css/variables';

:host {
  display: block;
}

.explain-plan-copy-btn {
  float: right;
  color: $color-onto-blue;
  border: 1px solid $color-onto-hover-gray;
  background-color: $color-onto-hover-gray;
  font-weight: 400;
  line-height: 18px;
  cursor: pointer;
}
