@import "src/css/variables";

.yasgui-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 3px;
  font-size: 14px;
  font-weight: 400;

  button {
    cursor: pointer;
    color: $color-onto-blue;
    transition: all .15s ease-out;
  }

  .yasgui-btn {
    height: 27px;
    margin-right: 3px;
    border: none;
    outline: none;
    background-color: #ebebeb;

    &:hover {
      background-color: #d4d4d4;
      border-color: #d4d4d4;
    }
  }

  .btn-selected {
    background-color: #e84e0f;
    color: #fff;

    &:hover {
      background-color: $color-ontotext-orange;
      border-color: $color-ontotext-orange;
    }
  }

  .btn-orientation {
    border: none;
    outline: none;
    color: $color-ontotext-orange;
    background-color: #fff;
    font-size: 2em;

    &:hover {
      transform: scale(1.2);
    }
  }
}
