@import "src/css/variables";

.yasgui-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;

  .yasgui-btn {
    border: none;
    background-color: #ebebeb;
    color: #000;
  }

  .btn-selected {
    background-color: #e84e0f;
    color: #fff;
  }

  .btn-orientation {
    color: $color-ontotext-red;
    background-color: #fff;
    border: none;
  }
}
