$color-ontotext-orange: #e84e0f;
$color-ontotext-orange-dark: #d0460d;
$color-onto-blue: #003663;
$color-onto-table-header-background: #cfefec;
$color-onto-green: #02a99a1a;
$color-onto-white: #FFFFFF;
$color-onto-grey: #00000059;
$onto-blue-light: #0060b0;
$background-color-onto-default: #FFF;
$background-color-onto-error: #fbdbd5;
