$color-onto-red: #FF0000;
$color-ontotext-orange: #e84e0f;
$color-ontotext-orange-light: #ea5f26;
$color-ontotext-orange-dark: #d0460d;
$color-ontotext-orange-buttons: #9E2B0A;
$color-onto-blue: #003663;
$color-onto-table-header-background: #cfefec;
$color-onto-green: #02a99a1a;
$color-onto-white: #FFFFFF;
$color-onto-grey: #00000059;
$onto-blue-light: #0060b0;
$background-color-onto-default: #FFF;
$background-color-onto-error: #fbdbd5;
$color-onto-light-grey: #eee;
$color-onto-grey-text: #808080;
$color-onto-dark-grey: #333;
$color-onto-blue-text: hsl(207.3, 100%, 19.4%);
$color-onto-black: #000000;
$color-onto-dark-border: #191818;
$color-onto-shadow-light: rgba(0, 0, 0, 0.1);
$color-onto-shadow-medium: rgba(0, 0, 0, 0.2);
$color-onto-shadow-dark: rgba(0, 0, 0, 0.5);
$color-onto-text-dark: #373a3c;
$color-onto-border-light: #e5e5e5;
$color-onto-border-medium: #E8E8E8;
$color-onto-border: #eeeeee;
$color-onto-border-hover: #dddddd;
$color-onto-highlight-accent: #ED4F2F;
$color-onto-active-blue: #3385ff;
$color-onto-active-highlight: #FFAD33;
$color-onto-deep-blue: #000042;
$color-onto-hover-background: #0000001a;
$color-onto-border-medium: #eceeef;
$color-onto-background-light: #f9f9f9;
$color-onto-button-border: #ccc;
$color-onto-button-border-hover: #adadad;
$color-onto-text-muted: #999;
$color-onto-purple-link: #770088;
$color-onto-success-background: #dff0d8;
$color-onto-input-placeholder: rgba(0, 0, 0, 0.54);
$color-onto-button-disabled: #818a91;
$color-onto-input-text: #55595c;
$color-onto-input-border: rgba(0, 0, 0, 0.15);
$color-onto-input-focus: #00366380;
$color-onto-tooltip-background: #003663;
$color-onto-silver-border: silver;
$color-onto-black-transparent: rgba(0, 0, 0, 0.2);
$color-onto-background-lightest: #f7f7f7;
$color-onto-hover-gray: #F2F2F2;
