.mode-yasqe {

  .yasgui {

    .yasr {
      display: none;
    }
  }
}

.mode-yasr {

  .yasgui {

    .tabsList {
      display: none;
    }

    .yasqe {
      display: none;
    }
  }
}

.orientation-horizontal {

  .yasgui {
    display: grid;

    .tabPanel > div {
      display: grid;
      grid-template-columns: 0 1fr 1fr;
    }
  }
}
