@import "src/components/yasgui/yasgui.min";
@import "src/css/variables";
@import 'src/css/common';
@import "src/css/toolbar";
@import "src/css/icons";
@import 'src/css/external/tippy';

:host {
  display: block;
}

.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 2px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid silver;
  background: white;
  max-height: 20em;
  overflow-y: auto;
}

.CodeMirror-hint {
  margin-bottom: 0;
  padding: 5px 25px;
  white-space: pre;
  color: black;
  cursor: pointer;
}

.CodeMirror-hint b {
  color: #ED4F2F;
  font-weight: bold;
}

.CodeMirror-hint-active {
  background: #3385ff;
  color: white;
}

.CodeMirror-hint-active b {
  color: #FFAD33;
}

.CodeMirror-hint {
  max-width: 100em;
}

.yasgui-host-element {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .yasgui {

    .yasqe-fullscreen  .CodeMirror {
      position: fixed;
      top: 0; left: 0; right: 0; bottom: 0;
      height: auto !important;
      z-index: 1015;
    }

    .yasqe {

      .yasqe_buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100%;

        // There is no other way to hide it but to patch the yasqe
        .yasqe_share {
          display: none;
        }

        .yasqe_queryButton {
          width: unset;
          height: unset;
          padding: 8px 16px;
          margin-top: 1rem;
          color: #fff;
          background-color: $color-ontotext-orange;
          outline: none;
          font-size: 1rem;

          &:hover {
            background-color: $color-ontotext-orange-dark;
          }
        }

        .custom-button {
          border: none;
          background-color: #fff;
          color: $color-ontotext-orange;
          outline: none;
          font-size: 2.5em;
          cursor: pointer;
          transition: all .15s ease-out;

          &:hover {
            color: $color-ontotext-orange-dark;
            transform: scale(1.2);
          }
        }
      }

      .yasqe_expandResultsButton.disabled {
        cursor: not-allowed;
        opacity: .65;
      }
    }
    .yasqe-footer-buttons {
      display: flex;
      justify-content: end;
      padding-top: 10px;
      padding-bottom: 10px;

      .abort-button {
        padding: 8px 16px;
        color: $color-onto-white;
        background-color: $color-ontotext-orange;
        outline: none;
        border: none;
      }

      .abort-button.disabled {
        opacity: 0.65;
        cursor: not-allowed;
      }

      .abort-button:hover:not(.disabled) {
        cursor: pointer;
      }
    }
  }

  .yasr {
    table.dataTable thead th {
      background-color: $color-onto-green;
    }

    .dataTable td, .dataTable thead tr th {
      border: 1px solid #eceeef;
    }

    table.dataTable thead th:hover {
      background-color: $color-onto-green;
    }

    .dataTable tr.odd {
      background-color: #f9f9f9;
    }

    .dataTable tr.even {
      background-color: white;
    }

    .yasr_header > * {
      margin-left: 0;
    }

    .yasr_header {
      background-color: $color-onto-table-header-background;
      margin-bottom: 1rem;

      .yasr_btnGroup {
        width: 100%;
        background-color: white;
        padding-bottom: 1rem;

        .spacer {
          width: 100%;
        }

        li {
          white-space: nowrap;
        }
      }

      .yasr_external_ref_btn, .yasr_downloadIcon {
        display: none;
      }

      .yasr_response_chip {
        min-height: 50px;
        background-color: $color-onto-table-header-background;
      }

      .pageSizeWrapper, .switch {
        color: #000000A8;
      }

      .tableControls .tableFilter, .tableControls .tableSizer {
        border-color: #00000026;
        background-color: #ffffff;
      }

      .tableControls {
        .tableFilter:focus, .tableSizer:focus {
          border-color: #00366380 !important;
          outline: none !important;
        }
      }
    }

    .dataTables_empty {
      color: #999;
      background-color: #f9f9f9;
    }

    .yasr_results {
      .resource-copy-link {
        display: none;
      }

      .uri-cell {
        word-wrap: break-word;
      }

      .literal-cell {
        word-wrap: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
      }

      /** Shows copy resource link when mouse is over a table row with resources of type uri */
      .dataTable tbody td:hover:not(:has(.triple-cell)) div.uri-cell .resource-copy-link {
        display: inline;
        float: right;
        padding-right: 10px;
      }

      /** Shows copy resource link when mouse is over a link with resource of type triple */
      .dataTable tbody td div.triple-cell ul.triple-list li:hover .resource-copy-link {
        display: inline;
        padding-left: 10px;
        padding-right: 10px;
      }

      .dataTable tbody td div.triple-cell ul.triple-list li {
        list-style-type: none;
      }

      .dataTable td div.triple-cell .triple-link {
        color: #770088;
        text-decoration: none;
      }

      .uri-link:hover {
        text-decoration: none;
      }

      .nonUri {
        color: #003663;
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0
      }

      .dataTable td div.triple-cell .triple-close:hover .resource-copy-link {
        display: inline;
        padding-left: 10px;
        padding-right: 10px;
      }

      .error-response-plugin {
        padding: 10px;
        background-color: $background-color-onto-error;

        .error-response-plugin-header {
          display: flex;
          justify-content: space-between;

          .error-response-plugin-error-status {
            font-weight: 400;
            margin-bottom: 0.5em;
          }
        }

        .error-response-plugin-body {
          white-space: pre-wrap;
        }
      }
    }

    .pageSizeWrapper, .dataTables_info, .dataTables_paginate {
      display: none;
    }

    .extended-boolean-plugin {
      width: 70%;
      margin: 5px auto;
      vertical-align: middle;

      .response {
        font-size: 3rem;
        text-align: center;
        padding: 1em;
      }

      .response-success {
        background-color: #dff0d8;
      }

      .response-error {
        background-color: #fbdbd5;
      }
    }
  }

  .hidden-control-bar {
    .yasgui {

      .autocompleteWrapper {
        display: none !important;
      }

      .tabContextButton {
        display: none;
      }
    }
  }

  &.hidden-editor-tabs {

    .tabsList {
      display: none;
    }
  }

  &.hidden-result-tabs {

    .yasr_header {
      display: none;
    }
  }

  &.mode-yasqe {

    .yasgui {

      .yasr {
        display: none;
      }
    }
  }

  &.mode-yasr {

    .yasgui {

      .tabsList {
        display: none;
      }

      .yasqe {
        display: none;
      }
    }
  }

  &.orientation-horizontal {

    .yasgui {
      display: grid;

      .tabPanel > div {
        display: grid;
        grid-template-columns: 0 1fr 1fr;
      }
    }
  }

  button, button:focus {
    outline: none;
  }

  #explainPlanQuery {
    white-space: pre-wrap;
  }
}
