@import "src/components/yasgui/yasgui.min";
@import "src/css/variables";
@import 'src/css/common';
@import "src/css/visualization";
@import "src/css/header";
@import "src/css/icons";
@import 'src/css/external/tippy';

:host {
  display: block;
}

.red {
  color: $color-ontotext-red;
}

@font-face {
  font-family: 'icomoon';
  src: url('../../css/fonts/icons.eot?z4jeba');
  src: url('../../css/fonts/icons.eot?z4jeba#iefix') format('embedded-opentype'),
  url('../../css/fonts/icons.ttf?z4jeba') format('truetype'),
  url('../../css/fonts/icons.woff?z4jeba') format('woff'),
  url('../../css/fonts/icons.svg?z4jeba#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.yasgui {

  .autocompleteWrapper {
    display: none !important;
  }

  .tabContextButton {
    display: none;
  }
}

.hidden {
  display: none !important;
}

.hidden-editor-tabs {
  .tabsList {
    display: none;
  }
}

.hidden-result-tabs {
  .yasr_header {
    display: none;
  }
}
