@import "src/components/yasgui/yasgui.min.scss";

:host {
  display: block;
}

.mode-yasqe {

  .yasgui {

    .yasr {
      display: none;
    }
  }
}

.mode-yasr {

  .yasgui {

    .tabsList {
      display: none;
    }

    .yasqe {
      display: none;
    }
  }
}

.orientation-horizontal {

  .yasgui {
    display: grid;

    .tabPanel > div {
      display: grid;
      grid-template-columns: 0 1fr 1fr;
    }
  }
}

.yasgui {

  .autocompleteWrapper {
    display: none !important;
  }

  .tabContextButton {
    display: none;
  }
}

.hidden-editor-tabs {
  .tabsList {
    display: none;
  }
}

.hidden-result-tabs {
  .yasr_header {
    display: none;
  }
}
