@import 'src/css/variables';

.dialog-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  // Because the tooltip we use position itself on z-index: 9999
  z-index: 9998;
  margin-left: -10px;
  background-color: $color-onto-shadow-dark;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
  color: $color-onto-text-dark;
}

.dialog {
  z-index: 1001;
  max-width: 90vw;
  max-height: 90vh;
  background-color: $background-color-onto-default;
  box-shadow: 0 5px 15px $color-onto-shadow-medium;
  font-family: inherit;
  font-weight: inherit;
  display: flex;
  flex-direction: column;
  position: unset;

  .dialog-header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid $color-onto-border-light;
    font-size: 20px;

    .dialog-title {
      margin: .5rem 0;
      font-weight: 400;
    }

    .close-button {
      background-color: $color-onto-white;
      border: none;
      outline: none;
      cursor: pointer;

      &:hover, &:focus {
        font-weight: bold;
      }
    }
  }

  .dialog-body {
    padding: 15px;
    overflow: auto;
  }

  .dialog-footer {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    border-top: 1px solid $color-onto-border-light;
  }
}
